*,
*:before,
*:after {
  box-sizing: border-box;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
  background: black;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
}

#root {
  padding: 2rem;
  text-align: center;
  color: black;
  background-color: orange;
  border-radius: 20px;
  width: 90vw;
}

/* Styles for anything wider than 480 */
@media only screen and (min-width: 480px) {

  #body {
    height: 100vh;
  }

  #root {
    width: 480px;
    height: 700px;
  }
}
