#body {
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  place-items: start;
  background: black;
}

#root {
  flex-direction: column;
  max-width: 340px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color: black;
  background-color: orange;
  border-radius: 20px;
}

